body
{
    background-color: #344055;
    text-align: center;
    color: #FFECD1;
    font-family:'Kumbh Sans', sans-serif;   
}

a
{
    color: silver;
    text-decoration: none;
}

a:hover
{
    color: #A9CEF4;
    text-decoration:line;
}

main
{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2
{
    text-align: center;
}

p
{
    text-align: center;
}

img
{
    width: 27.5%;
}

figure
{
    text-align: center;
    font-style: italic;
}

.divider {
  margin: 0 auto;
  border: 0 auto;
  height: 1px;
  width: 25%;
  text-align: center;
  background: #FFECD1;
}

nav
{
    font-size: 20px;
    margin: 5px auto;
}

li
{
    margin: 8px auto;
}