*
{
    /* Ensured same font and font color throughout webpage */
    font-family: 'Kumbh Sans', sans-serif;
    color:#38023B;
}

html
{
    height: 100%;
    margin: 0;
}

body
{
    height: 100%;
    margin: 0;
    /* Ensured consistent background-color, text alignment and flex direction througout webpage */
    background-color: #CDC7E5;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main
{
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}

header
{
    text-align: center;
}

hr
{
    /* Set the color and length of the divider for every page */
    color: #38023B;
    background-color: #38023B;
    border:none;
    height: 3px;
    width: 70%;
}

nav
{
    font-size: 27px;
   
}

h1
{
    font-size: 35px;
}

h2
{
    font-size: 35px;
    margin-bottom: 15px;
}


a
{
    color: #38023B;
    text-decoration: none;
}

a:hover
{
    color: #7776BC;
}

.navbar a
{
    display: inline-block;
}

.navbar a
{
    margin: auto 50px;
}

.navbar span
{
    display: inline-block;
}


/* Allowed links to fade in seperately */
.navbar a:nth-of-type(1)
{
    animation-delay: 0.3s;
}
.navbar a:nth-of-type(2)
{
    animation-delay: 0.5s;
}
.navbar a:nth-of-type(3)
{
    animation-delay: 0.7s;
}
.navbar a:nth-of-type(4)
{
    animation-delay: 0.9s;
}
.navbar a:nth-of-type(5)
{
    animation-delay: 1.1s;
}


/* Allowed seperators to fade in seperately from linkes, one at a time */
.navbar span:nth-of-type(1)
{
    animation-delay: 0.3s;
}
.navbar span:nth-of-type(2)
{
    animation-delay: 0.5s;
}
.navbar span:nth-of-type(3)
{
    animation-delay: 0.7s;
}
.navbar span:nth-of-type(4)
{
    animation-delay: 0.9s;
}
.navbar span:nth-of-type(5)
{
    animation-delay: 1.1s;
}


/* Animations for home page load up */
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes fadeInRight
{
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
    }

    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown
{
    0%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInUp
{
    0%
    {
        opacity: 0;
        transform: translateY(100px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes zoomIn 
{
    0%
    {
        transform: translateY(500px) scale(0);
        opacity: 0;
    }
    
    100%
    {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes pulse 
{
    0%, 100%
    {
        transform: scale(1);
    }

    50%
    {
        transform: scale(1.05);
    }
}
