<h1>Joseph Watson's Jolly Walrus || ITIS 3135</h1>
        <nav>
            <a href = "./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="fccfsjs_outline.html">Full Stack JS Outline</a>
            ||
            <a href="intro_form.html">Introduction Form</a>
            ||
            <a href="project_overview.html">Project Overview</a>
        </nav>

        <hr class="divider">

        <nav>
            <a href="../jolly_walrus/about.html" target="_blank">Jolly Walrus</a>
            ||
            <a href="stuff/REALLYCRAPPY~WEiRd WEBPAGE.htm" target="_blank">CRAPPY Webpage</a>           
        </nav>